# Виртуальное окружение (папки с библиотеками)
venv/
venv_win/
win_venv/
env/
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Настройки VS Code и других редакторов
.vscode/
.idea/

# Логи
*.log